



<div class="row">
  <div class="col-12">

    <form class="my-2" [formGroup]="form" (ngSubmit)="insertURL()" >
      <div class="form-group">
        <label for="url">Escriba la url:</label>
        <input type="text" formControlName="url" class="form-control my-2" id="url" aria-describedby="emailHelp" placeholder="Ingresa la url">
      </div>a
    
      <div class="row">
        <div class="col-lg-1 col-sm-12">
          <button type="button" (click)="addUrls(form.value.url)" class="mx-2 btn btn-success">Agregar</button>
        </div>
        <div class="col-lg-1 col-sm-12">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-lg-10 col-sm-12"></div>
      </div>
      
    </form>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Enlaces Guardados
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table mat-table *ngIf="links.length > 0" [dataSource]="links" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
        
            
              <!-- Name Column -->
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Detalles </th>
                <td mat-cell *matCellDef="let element"> 
                  
                  <button (click)="deleteUrl(element.id)" class="btn btn-danger">Borrar</button>
                
                </td>
              </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            </table>
        
          </div>
        </div>
      </div>
    
    </div>  

  
   
 

        <div *ngIf="loading" class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        </div>


    
    <!-- <div class="alert alert-success my-2" *ngIf="siteStatus === 'up'">El sitio {{siteUrl}} está funcionando.</div>
    <div class="alert alert-danger my-2" *ngIf="siteStatus === 'down'">El sitio {{siteUrl}} parece estar caído o es desconocido.</div>
     -->





    <table *ngIf="linkResponse.length > 0" mat-table [dataSource]="linkResponse" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> 
         <i *ngIf="element.status == 200" class="bi bi-check-circle-fill text-success"></i>
         <i *ngIf="element.status == 500"  class="bi bi-x-circle-fill text-danger"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="sslExpiration">
        <th mat-header-cell *matHeaderCellDef> Fecha de expiración </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.sslExpiration && (dateToday < convertToDate(element.sslExpiration) )">
           <p class="text-success font-weight-bold">{{element.sslExpiration | date: 'dd/MM/yyyy'}}</p> 
          </div>
          <div *ngIf="element.sslExpiration == '' || element.sslExpiration == null">
            <p class="font-weight-bold">No se encontró ssl en la página</p> 
          </div>
          <div *ngIf="element.sslExpiration && (dateToday >= convertToDate(element.sslExpiration) )">
            <p class="text-danger font-weight-bold">{{element.sslExpiration | date: 'dd/MM/yyyy'}}</p> 
          </div>
           </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

    </table>

   

  </div>
</div>


<!--   <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>raro</mat-panel-title>
    <mat-panel-description>EAT OK</mat-panel-description>
  </mat-expansion-panel-header>
    <p>Eso es raro</p>
    <mat-action-row>
      <button class="mat-button"></button>
    </mat-action-row>
 
  </mat-expansion-panel>
 -->

